body {
    font-family: Arial, sans-serif;
    background-image: url("https://images.pexels.com/photos/164005/pexels-photo-164005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
    color: #ffffff;
}
.container {
    max-width: 800px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.634);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1, h2, h3, p {
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.logo{
    max-width: 1%;
}
#title{
    text-align: center;
}